body{
    font-family: "Segoe UI", Arial;
    margin:0;
    background:#f2f6ff;
}

header{
    background:linear-gradient(90deg,#0047ab,#6a5acd,#ff6ec7);
    color:white;
    padding:30px;
    text-align:center;
}

nav{
    background:#222;
    padding:10px;
    text-align:center;
}

nav a{
    color:white;
    margin:15px;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    color:#ffcc00;
}

.container{
    max-width:1000px;
    margin:auto;
    background:white;
    padding:40px;
}

h1,h2{
    color:#003366;
}

.card{
    background:#f7f9ff;
    padding:20px;
    margin:20px 0;
    border-left:5px solid #6a5acd;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}
